<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
    </div>
    <div class="col-sm-8 text-left">
      <h1>IT Tickets CRM</h1>
      <div>
        <p>TODO: filter & sorting option</p>
        <button *ngIf="!exportStatus" class="btn btn-primary" (click)="exportTickets()">Export all tickets</button>
        <a target="_blank" [href]="downloadLink" #downloadAnchor [hidden]="true">{{ downloadLink }}</a>
        <div *ngIf="exportStatus && !exportStatus.error">
          <label for="exportID">Export progress:</label>
          <progress-bar id="exportID" [animated]="true" [value]="exportStatus.value"
                        [max]="exportStatus.max"></progress-bar>
        </div>
        <div *ngIf="exportStatus?.error" class="alert alert-danger" role="alert">
          <strong>Download failed!</strong>
        </div>
      </div>
      <div>
        <h2>Info web app</h2>
        <ul>
          <li>The app should be secured</li>
          <li>Export api should be accessed based on user permission</li>
          <li>User status exports should be persisted (now if the user close the page will loose access to the current
            download
            progress bar)
          </li>
          <li>Export status should be pushed via web sockets and not as it is implemented now.</li>
          <li><b>Alternative solution proposal:</b> instead of export & download in the same step i would prefer a two
            steps implementation:
            <ol>
              <li>trigger an export that will be prepared by server</li>
              <li>make the export available via download link</li>
            </ol>
          </li>
          <li>
            Implement an error handler that reports to api server
          </li>
          <li>Export status is not 100% accurate, download may take longer.</li>
        </ul>
        <h2>Info api</h2>
        <ul>
          <li>TODO: implement sort & filters for export (like ticket status, date's interval)</li>
          <li>Memory: mitigated by using streams (avoid reading batch of data directly or all data)</li>
          <li>Speed: TODO: read ahead from storage source, this should be balanced with the download speed and only
            applied on we have download speed greater than reading from storage source
          </li>
          <li>Improved download time and reduced download size by returning the response as a zip</li>
          <li>In case download stuck timeout exceptions are raised on app or api</li>
          <li>Storage solution should be read consistent</li>
          <li>For testing purpose i've used in memory database</li>
          <li>Ticket model is far from reality</li>
        </ul>
      </div>
    </div>
    <div class="col-sm-2 sidenav">
      <div>
      </div>
      <div>
      </div>
    </div>
  </div>
</div>
